.app {
    background-color: #1b1f29; /* Set your desired background color or background image here */
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif; /* Set your desired font */
  }